<!-- your html code here -->
<form>
    <div>
        <h2>Contact</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
    </div>

    <div class="p-4 bg-light border">
        <div class="row">
            <label class="col-sm-3 col-form-label text-end"><strong>Your E-mail</strong></label>
            <div class="col-sm-9">
                <input type="email" class="form-control" placeholder="Your email">
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label text-end"><strong>Your message</strong></label>
            <div class="col-sm-9">
                <textarea class="form-control" rows="4" placeholder="Please enter your message here..."></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-end">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>