<!-- your html code here -->
 <section class="row align-items-center mb-5">
            <div class="col-md-5 order-2 order-md-1 text-center text-md-start">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-1uSEN-e_jy6kC_NfvoFjNK2xT86mJD7p0g&s" alt="" class="img-fluid rounded-circle border border-5 border-light ">
            </div>
            <div class="col-md-7 order-1 order-md-2 text-center text-md-start">
                <h2 class="fw-bold text-dark h1">
                    The Second Heading <span class="text-secondary fw-normal">Is Pretty Cool Too.</span>
                </h2>
                <p class="lead text-muted mt-3">
                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet illum ducimus rerum quo possimus
                    facilis rem, ea, quidem tempora perspiciatis soluta animi libero maiores nulla. Corrupti corporis nobis
                    molestias aperiam?
                </p>
            </div>
 </section>